{% assign class = class | default: false %}
{% assign title = title | default: false %}
{% assign palette = palette | default: false %}
{% capture class %}review-drawer{% if class %} {{- class -}}{% endif %}{% if palette != blank %} review--palette-{{ palette }}{% endif %}{% endcapture %}

<section id="review-drawer" class="{{ class }} bg--black" data-module="review-drawer" style="color: white;">
  {% render 'section-title', title: title, class: 'section-title--review-drawer' %}
  <div class="container review-drawer__container">
    <div class="review-drawer__inner">
      REVIEWS: <div data-bv-show="reviews" data-bv-product-id=""></div>
      {% comment %}<div class="review-drawer__yotpo-title yotpo bottomLine js-yotpo-bottomline active js-button-toggle-review"
      data-product-id="{{ product.id }}">
      </div>
      <div 
        class="yotpo yotpo-main-widget js-yotpo-main" 
        data-product-id="{{ product.id }}" 
        data-name="{{ product.title | escape }}" 
        data-url="{{ shop.url }}{{ product.url }}" 
        data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}" 
        data-price="{{ variant.price | money_without_currency }}"
        data-currency="{{ shop.currency }}"
      >
      {% endcomment %}
      </div>
    </div>
  </div>
</section>
