{% assign class = class | default: false %}
{% assign title = title | default: false %}
{% assign link = link | default: false %}
{% assign price = price | default: false %}
{% assign quick_shop_form = quick_shop_form | default: false %}
{% capture class %}product-card{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section class="{{ class }}" data-module="product-card">
  <div class="product-card__inner">
    <div class="product-card__header">
      <div class="product-card__image-container">
        <a href="{{ link }}" class="product-card__image-link">
          {%- render 'image', src: image_src -%}
        </a>
      </div>
      {%- if quick_shop_form -%}
        <div class="product-card__overlay js-overlay">
          <div class="product-card__form">
            {{- quick_shop_form -}}
          </div>
        </div>
      {%- endif -%}
    </div>
    <div class="product-card__content">
      <h4 class="product-card__title">
        <a href="{{ link }}" class="b1 product-card__title-link">{{ title }}</a>
      </h4>
      <div class="b1 product-card__review">Review</div>
      <p class="h5 product-card__price">{{ price }}</p>
    </div>
  </div>
</section>
