
{%- assign earn_title = earn_title | default: false -%}
{%- assign earn_image = earn_image | default: false -%}
{%- assign redeem_title = redeem_title | default: false -%}
{%- assign redeem_image = redeem_image | default: false -%}
{%- assign referral_title = referral_title | default: false -%}
{%- assign referral_description = referral_description | default: false -%}
{%- assign referral_image = referral_image | default: false -%}
{%- assign vue_attrs = vue_attrs | default: false -%}
{%- assign class = class | default: false -%}
<div is="rewards-cta-group" inline-template{% if vue_attrs %} {{ vue_attrs }}{% endif %}>
  <section class="rewards-cta-group{% if class %} {{ class }}{% endif %}">
    <div class="rewards-cta-group__container container">
      <div class="rewards-cta-group__inner">
        <div class="rewards-cta-group__item rewards-cta-group__item--earn" @click="activateEarnModal">
          {%- capture earn_image_attrs -%}image-src="{{- earn_image -}}"{%- endcapture -%}
          <div class="rewards-cta-group__item-image-wrapper">
            {%- render 'image', vue_attrs: earn_image_attrs, class: 'image--contain rewards-cta-group__item-image' -%}
          </div>
          {% if earn_title %}
            <div class="rewards-cta-group__item-contents">
              <p class="p1 p1--large p1--bold rewards-cta-group__item-title">{{- earn_title -}}</p>
            </div>
          {% endif %}
        </div>
        <div class="rewards-cta-group__item rewards-cta-group__item--redeem" :class="{'rewards-cta-group__item--available': isRedeemable}" @click="activateRedeemModal">
          {%- capture redeem_image_attrs -%}image-src="{{- redeem_image -}}"{%- endcapture -%}
          <div class="rewards-cta-group__item-image-wrapper">
            {%- render 'image', vue_attrs: redeem_image_attrs, class: 'image--contain rewards-cta-group__item-image' -%}
          </div>
          {%- if redeem_title -%}
            <div class="rewards-cta-group__item-contents">
              <p class="p1 p1--large p1--bold rewards-cta-group__item-title">{{- redeem_title -}}</p>
            </div>
          {%- endif -%}
        </div>
        <div class="rewards-cta-group__item rewards-cta-group__item--referral">
          {%- capture referral_image_attrs -%}image-src="{{- referral_image -}}"{%- endcapture -%}
          <div class="rewards-cta-group__item-image-wrapper">
            {%- render 'image', vue_attrs: referral_image_attrs, class: 'image--contain rewards-cta-group__item-image' -%}
          </div>
          <div class="rewards-cta-group__item-contents">
            {%- if referral_title -%}
              <p class="p1 p1--large p1--bold rewards-cta-group__item-title">{{- referral_title -}}</p>
            {%- endif -%}
            {%- render 'wysiwyg', content: referral_description, class: 'wysiwyg--white rewards-cta-group__item-description' -%}
            <div class="rewards-cta-group__referral">
              <input type="text" class="rewards-cta-group__referral-input" readonly v-model="referralUrl" @focus="focusInput($event)" ref="input">
              <button class="button rewards-cta-group__referral-button" @click.prevent="copyReferralUrl">Copy</button>
              <div v-if="isCopied" class="rewards-cta-group__referral-message">Referral Url Copied!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%- render 'rewards-earn-modal',
      vue_attrs: ':earn-activities="earnActivities" ref="earnModal"'
    -%}
    {%- render 'rewards-redeem-modal',
      vue_attrs: ':redeem-products="redeemProducts" :points-balance="pointsBalance" ref="redeemModal"'
    -%}
  </section>
</div>
