<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <script src="https://cdn.noibu.com/collect.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    <meta name="facebook-domain-verification" content="746k24eeouu4eet639meku4onwsree" />

    <title>{{ page_title }}</title>

    <!-- Postscript -->
    <script type="application/javascript" async src="https://sdk.postscript.io/integrations/sdk-min.js"></script>
    <!-- End Postscript -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WS7HLL9');</script>
    <!-- End Google Tag Manager -->

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    <!-- ADDRESS VALIDATOR -->
    <script async src="https://d3ox8tdk614ykk.cloudfront.net/pobox_checker.js"></script>

    <!-- Taboola Pixel Code -->
  <script type='text/javascript'>
    window._tfa = window._tfa || [];
    window._tfa.push({notify: 'event', name: 'page_view', id: 1360071});
    !function (t, f, a, x) {
          if (!document.getElementById(x)) {
              t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
          }
    }(document.createElement('script'),
    document.getElementsByTagName('script')[0],
    '//cdn.taboola.com/libtrc/unip/1360071/tfa.js',
    'tb_tfa_script');
  </script>
  <noscript>
    <img src='https://trc.taboola.com/1360071/log/3/unip?en=page_view'
        width='0' height='0' style='display: none;' />
  </noscript>
  <!-- End of Taboola Pixel Code -->
  <style>
.section__header {
  display: flex;
  flex-direction: row;
  line-height: 1.7em;
}

.section__title-link {
  margin-left: 5px;
  line-height: 1.8em;
}

div.step[data-step="payment_method"] .step__sections .section--reductions .section__title::after, .order-summary__section.order-summary__section--discount::after {
  content: 'If your discount code brings your cart value below the free shipping threshold of $50, you will have to return to "Shipping" to choose a new shipping rate or return to "Cart" to increase your cart total';
  font-size: 14px;
  display: block;
  opacity: .8;
  pointer-events: none;
}

  </style>

  {% render 'shogun-head' %}
</head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WS7HLL9"
      height="0" width="0" style="display: none; visibility: hidden;"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}

    {%- render 'ordergroove_checkout' -%}

    {% assign shipping_time_url = shop.metafields.globals.shipping_time_url %}
    <script>
      var aTag = document.createElement('a');
      aTag.setAttribute('href', {{ shipping_time_url | json }});
      aTag.setAttribute('target',"_blank");
      aTag.setAttribute('rel',"noopener");
      aTag.innerText = "Shipping Timelines";
      aTag.classList.add("section__title-link")
      const shippingHeader = document.querySelector('.section--shipping-address').children[0]
      shippingHeader.appendChild(aTag)
      console.log(shippingHeader)
    </script>
  </body>
</html>
