{%- assign level = level | default: 0 -%}
{%- capture prefix_class -%}{% if is_sub == true %}sub-menu{% else %}menu{% endif %}{%- endcapture -%}
{%- capture class -%}
  {{ prefix_class }}{% if level > 0 %} {{ prefix_class | append: '--level-' | append: level }}{% endif %} {{ class }}
{%- endcapture -%}
{%- capture tag -%}{% if is_sub == true %}div{% else %}section{% endif %}{%- endcapture -%}
<{{ tag | strip }} class="{{ class | strip }}" data-module="menu">
  {%- for link in links -%}
    {%- if link.title == 'Logo' -%}
      <div class="menu__logo">
        <a href="{{ link.url }}" class="menu__logo-link">
          {%- assign logo = settings.logo | img_url: 'master' -%}
          {%- render 'image', src: logo, class: 'menu__logo-image' -%}
        </a>
      </div>
    {%- else -%}
      <div class="{{ prefix_class | append: '__item' }}{% if level > 0 %} {{ prefix_class | append: '__item' | append: '--level-' | append: level }}{% endif %}{% if link.active == true %} is-active{% endif %}">
        {% comment %}Hard code for mega menu banner{% endcomment %}
          <div class="sub-menu__item-banner">
            {%- assign banner = 'mega_banner.jpg' | file_url -%}
            {%- render 'image', src: banner, class: 'sub-menu__item-image' -%}
          </div>
        {% comment %}End hard code{% endcomment %}
        <a class="{{ prefix_class | append: '__item-link' }}{% if link.active == true %} is-active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
        {%- if link.links.size > 0 -%}
          <div class="menu__item-content">
            {%- assign sub_level = level | plus: 1 -%}
            {%- render 'menu', links: link.links, is_sub: true, level: sub_level -%}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
  {%- endfor -%}
</{{ tag | strip }}>
