{%- assign product = product | default: false -%}
{%- assign button_class = button_class | default: false -%}
{%- assign show_title = show_title | default: false -%}
{%- assign class = class | default: false -%}
{%- capture class -%}product-form {% if class %} {{ class }}{% endif %}{%- endcapture -%}

{%- if product -%}
  <section class="{{- class -}}" data-module="product-form">
    <form method="post" action="/cart/add" class="product-form__form">
      <div class="product-form__options">
        {%- for option in product.options -%}
          {%- assign option_index = forloop.index -%}
          <div class="product-form__option product-form__option--{{- option | handle -}}">
            {%- if show_title -%}
              <h4 class="product-form__option-title h4">{{- option -}}</h4>
            {%- endif -%}
            <div class="product-form__option-values">
              {%- for value in product.options_by_name[option].values -%}
                {%- capture input_name -%}product-{{- product.id -}}-option-{{- option | handle -}}{%- endcapture -%}
                {%- capture input_id -%}product-{{- product.id -}}-option-{{- option | handle -}}-value-{{- value | handle -}}{%- endcapture -%}
                <div class="product-form__option-value">
                  <input id="{{- input_id -}}" type="radio" name="{{- input_name -}}" class="radio product-form__option-value-input js-product-input" value="{{- value -}}" data-option-index="{{- option_index -}}">
                  <label for="{{- input_id -}}" class="label label--radio product-form__option-value-label">
                    {% render 'svg', type: 'logo', class: 'product-form__option-value-icon' %}
                    {{- value -}}
                  </label>
                </div>
              {%- endfor -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
      <select name="id" class="product-form__variants js-product-variants">
        <option value selected disabled>Variant</option>
        {%- for variant in product.variants -%}
          <option value="{{- variant.id -}}" data-title="{{- variant.title -}}">{{- variant.title -}}</option>
        {%- endfor -%}
      </select>
      <input type="hidden" name="quantity" value="1">
      {%- render 'button', button_value: 'Add To Cart', tag: 'button', custom_attrs: 'type="submit" disabled' class: 'product-form__button js-form-submit' -%}
    </form>
  </section>
{%- endif -%}
