{% assign class = class | default:false %}
{% capture class %}pdp-add-to-cart{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section class="{{ class }} bg--black" data-module="pdp-add-to-cart">
  <div class="container pdp-add-to-cart__container">
    <div class="pdp-add-to-cart__wrapper">
      <div class="pdp-add-to-cart__header">
        <h2 class="pdp-add-to-cart__title h2">{{product.title}}</h2>
        <p class="pdp-add-to-cart__price h5">{{product.price | money}}{% if customer %} (FREE SHIPPING){% endif %}</p>
        <div class="pdp-add-to-card__review js-review">
          <p class="pdp-add-to-cart__review-content">Review</p>
        </div>
      </div>
      <div class="pdp-add-to-cart__description wysiwyg wysiwyg--pdp-add-to-cart">{{product.description}}</div>
      {%- render 'product-form', class: 'product-form--pdp-add-to-cart', show_title: true -%}
    </div>
  </div>
</section>
