{% assign form_type = 'button' %}
{% assign class = class | default:false %}
{% capture class %}pdp-add-to-cart{% if class %} {{- class -}}{% endif %}{% endcapture %}
{%- if template.suffix == 'merch' -%}
  {% assign form_type = 'dropdown' %}
{%- endif -%}
{% assign product_acf = product.metafields.accentuate %}

<section class="{{ class }} bg--black" data-module="pdp-add-to-cart">
  <div class="container pdp-add-to-cart__container">
    <div class="pdp-add-to-cart__wrapper">
      <div class="pdp-add-to-cart__header">
        <h2 class="pdp-add-to-cart__title h2">{{product.title}}</h2>
        <p class="pdp-add-to-cart__price h5">{{product.price | money}}{% if customer %} (FREE SHIPPING){% endif %}</p>
        <div class="pdp-add-to-card__review js-review">
          <p class="pdp-add-to-cart__review-content">
            <span class="yotpo bottomLine" style="display:inline-block" data-product-id="{{ product.id }}"></span>
          </p>
        </div>
      </div>
      <div class="pdp-add-to-cart__description wysiwyg wysiwyg--pdp-add-to-cart">{{product.description}}</div>
      {%- render 'product-form', class: 'product-form--pdp-add-to-cart', form_type: form_type, show_title: true, product: product -%}
      {%- if product_acf.extra_content != blank -%}
        <div class="pdp-add-to-cart__extra-contents">
          {%- for extra_content in product_acf.extra_content -%}
            <div class="pdp-add-to-cart__extra-content wysiwyg wysiwyg--pdp-add-to-cart wysiwyg--pdp-extra-contents">{{- extra_content -}}</div>
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>
