{% assign form_type = 'button' %}
{% assign class = class | default:false %}
{% assign product_upc = product_upc | default: false %}
{% assign palette = palette | default: false %}
{% capture class %}pdp-add-to-cart{% if class %} {{- class -}}{% endif %}{% if palette %} pdp-add-to-cart--palette-{{ palette }}{% endif %}{% endcapture %}
{%- if template.suffix == 'merch' -%}
  {% assign form_type = 'dropdown' %}
{%- endif -%}
{% assign product_acf = product.metafields.accentuate %}

<section class="{{ class }} bg--black" data-module="pdp-add-to-cart">
    <div class="container pdp-add-to-cart__container">
    <div class="pdp-add-to-cart__wrapper">
      <div class="pdp-add-to-cart__header">
        <h2 class="pdp-add-to-cart__title h2">{{product.title}}</h2>
        <p class="pdp-add-to-cart__price h5">{{product.price | money}}{% if customer %} (FREE SHIPPING){% else %} <a class="pdp-add-to-cart__price-link" href="{{ routes.account_register_url }}">(Want FREE Shipping?)</a>{% endif %}
          {% if product_upc != false %}
          or <a href="/pages/store-locator?MM=panel2&PROD={{product_upc}}" class='h5'>FIND IN STORE</a>
          {% endif %}
        </p>
        <div class="pdp-add-to-card__review js-review{% if palette %} review--palette-{{ palette }}{% endif %}">
          <p class="pdp-add-to-cart__review-content">
            <span class="yotpo bottomLine" style="display: inline-block;" data-product-id="{{ product.id }}"></span>
          </p>
        </div>
      </div>
      <div class="pdp-add-to-cart__description wysiwyg wysiwyg--pdp-add-to-cart">{{product.description}}</div>
      {%- render 'product-form', class: 'product-form--pdp-add-to-cart', form_type: form_type, palette: palette, show_title: true, product: product -%}
      {%- if product_acf.extra_description_1 != blank or product_acf.extra_description_2 != blank -%}
        <div class="pdp-add-to-cart__extra-contents">
          {%- if product_acf.extra_description_1 != blank -%}
            <div class="pdp-add-to-cart__extra-content wysiwyg wysiwyg--pdp-add-to-cart wysiwyg--pdp-extra-contents">{{- product_acf.extra_description_1 -}}</div>
          {%- endif -%}
          {%- if product_acf.extra_description_2 != blank -%}
            <div class="pdp-add-to-cart__extra-content wysiwyg wysiwyg--pdp-add-to-cart wysiwyg--pdp-extra-contents">{{- product_acf.extra_description_2 -}}</div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>
