{% assign class = class | default: false %}
{% capture class %}pop-out-cart{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section role="dialog"
         class="{{ class }} z1"
         data-module="pop-out-cart"
         aria-label="{{ 'cart.label.aria_pop_out_toggle' | t }}"
         :class="{ 'is-active': isPopOutCartActive }"
         :aria-hidden="!isPopOutCartActive"
>
  <div class="pop-out-cart__inner bg--shadow">
    <h2 class="pop-out-cart__title h5">{{ 'cart.general.pop_out_title' | t }}</h2>

    <template v-if="items.length">
      <form action="/cart" class="pop-out-cart__form" method="post" novalidate>
        <div class="pop-out-cart__list">
          <template v-for="(item, index) in items">
            {% assign item_image = item.image | img_url: 'master' %}
            <div class="pop-out-cart__item" :key="item.key">
              <a class="pop-out-cart__item-image" :href="item.url">
                {% render 'image', vue_attrs: ':image-src="item.image" :alt="item.title"' %}
              </a>
              <div class="pop-out-cart__item-details">
                <a :href="item.url" class="pop-out-cart__item-title b2">${item.product_title}</a>

                <p class="pop-out-cart__item-subtext b3">${item.variant_title}</p>

                <template v-if="item.properties && item.properties.length">
                  <template v-for="property in item.properties">
                    <p v-if="property.length > 1" class="pop-out-cart__item-subtext b3">
                      ${property[0]}: ${property[1]}
                    </p>
                  </template>
                </template>

                <div class="pop-out-cart__item-controls">
                  {% render 'cart-item-control',
                    is_vue: true,
                    vue_attrs: ':item="item" id-prefix="pop-out-cart-"',
                    class: 'pop-out-cart__item-quantity',
                    id_prefix: 'pop-out-cart-'
                  %}

                  <p class="pop-out-cart__line-price"><span class="sr-only">{{ 'cart.general.line_price' | t }}</span>${item.formatted_line_price}</p>
                </div>
              </div>

              <a class="pop-out-cart__item-remove b2" href="#" aria-label="{{ 'cart.general.remove' | t }}" @click.prevent="removeItem(item)">
                X
              </a>
            </div>
          </template>
        </div>

        <div class="pop-out-cart__footer">
          <p class="pop-out-cart__summary-row">
            <span>{{ 'cart.general.subtotal' | t }}</span>
            <span>${formattedTotalPrice}</span>
          </p>

          <p v-if="totalDiscount" class="pop-out-cart__summary-row">
            <span>{{ 'cart.general.savings' | t }}</span>
            <span>${formattedTotalDiscount}</span>
          </p>

          <p class="pop-out-cart__free-shipping b4">{{ 'cart.general.free_shipping' | t }}</p>

          <p class="b3">{{ 'cart.general.shipping_at_checkout' | t }}</p>

          <input type="submit" name="checkout" value="{{ 'cart.general.checkout' | t }}" class="pop-out-cart__checkout-button button button--small-h button--full">
        </div>
      </form>
    </template>
    <template v-else>
      <p class="pop-out-cart__empty">{{ 'cart.general.empty' | t }}</p>
      <div class="pop-out-cart__footer">
        <a href="/collections/all" class="button button--small-h button--full">{{ 'cart.general.shop_all' | t }}</a>
      </div>
    </template>
  </div>
</section>
