{% assign class = class | default: false %}
{% capture class %}pop-out-cart{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section role="dialog"
         class="{{ class }} z1"
         data-toggle-selector=".js-pop-out-cart-toggle"
         data-module="pop-out-cart"
         aria-label="{{ 'cart.label.aria_pop_out_toggle' | t }}"
         aria-hidden="true"
>
  <div class="pop-out-cart__inner bg--shadow">
    <h2 class="pop-out-cart__title h5">{{ 'cart.general.pop_out_title' | t }}</h2>

    {% if cart.item_count > 0 %}
      <form action="/cart" method="post" novalidate>
        {% for item in cart.items %}
          {% assign item_image = item.image | img_url: 'master' %}
          <div class="pop-out-cart__item">
            <a class="pop-out-cart__item-image" href="{{ item.url | within: collections.all }}">
              {% render 'image', src: item_image, alt: item.title %}
            </a>
            <div class="pop-out-cart__item-details">
              <a href="{{ item.url | within: collections.all }}"
                 class="pop-out-cart__item-title b2">{{ item.product.title }}</a>

              {% assign options = item.variant.options | join: ' / ' %}
              <p class="pop-out-cart__item-subtext b3">{{ options }}</p>

              {%- assign item_property_size = item.properties | size -%}
              {% if item_property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    <p class="pop-out-cart__item-subtext b3">
                      {{ p.first }}: {{ p.last }}
                    </p>
                  {% endunless %}
                {% endfor %}
              {% endif %}

              <div class="pop-out-cart__item-controls">
                {% render 'cart-item-control',
                  item: item,
                  class: 'pop-out-cart__item-quantity',
                  id_prefix: 'pop-out-cart-'
                %}

                <p class="pop-out-cart__line-price"><span class="sr-only">{{ 'cart.general.line_price' | t }}</span>{{ item.line_price | money }}</p>
              </div>
            </div>

            <a class="pop-out-cart__item-remove b2" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" aria-label="{{ 'cart.general.remove' | t }}">
              X
            </a>
          </div>
        {% endfor %}

        <div class="pop-out-cart__footer">
          <p class="pop-out-cart__summary-row">
            <span>{{ 'cart.general.subtotal' | t }}</span>
            <span>{{ cart.total_price | money }}</span>
          </p>

          {% if cart.total_discounts > 0 %}
            <p class="pop-out-cart__summary-row">
              <span>{{ 'cart.general.savings' | t }}</span>
              <span>{{ cart.total_discounts | money }}</span>
            </p>
          {% endif %}

          <p class="pop-out-cart__free-shipping b4">{{ 'cart.general.free_shipping' | t }}</p>

          <p class="b3">{{ 'cart.general.shipping_at_checkout' | t }}</p>

          <input type="submit" name="checkout" value="{{ 'cart.general.checkout' | t }}" class="pop-out-cart__checkout-button button button--small-h button--full">
        </div>
      </form>
    {% else %}
      <p class="pop-out-cart__empty">{{ 'cart.general.empty' | t }}</p>
      <div class="pop-out-cart__footer">
        <a href="/collections/all" class="button button--small-h button--full">{{ 'cart.general.shop_all' | t }}</a>
      </div>
    {% endif %}
  </div>
</section>
