{% assign class = class | default: false %}
{% assign title = title | default: false %}
{% assign image_url = image_url | default: false %}
{% assign image_url_mobile = image_url_mobile | default: false %}
{% assign url = url | default: false %}
{% assign author = author | default: false %}
{% assign date = date | date: "%b %d, %Y" %}
{% assign excerpt = excerpt | default: false %}
{%- capture class -%}article-hero-card{% if class %} {{ class }}{% endif %}{% endcapture -%}

<section class="{{ class }} bg--shadow" data-module="article-hero-card">
  <div class="article-hero-card__wrapper">
    <div class="article-hero-card__inner">
      <a href="{{ url }}" class="article-hero-card__image-wrapper">
        {%- render 'image', src: image_url, class: 'article-hero-card__image' -%}
        {%- render 'image', src: image_url_mobile, class: 'article-hero-card__image article-hero-card__image--mobile' -%}
      </a>
      <div class="article-hero-card__content">
        <div class="article-hero-card__content-inner">
          {% if title %}
          <a href="{{ url }}" class="article-hero-card__item-title h2">{{- title -}}</a>
          {% endif %}
          {%- if excerpt -%}
            <p class="article-hero-card__item-excerpt b2">{{- excerpt -}}</p>
          {%- endif -%}
          {%- if author -%}
            <p class="article-hero-card__item-author">{{ author }}{% if date %} &mdash; {{ date }}{% endif %}</p>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>
