<section class="cart-container">
  <form action="/cart" method="post" class="cart-container__form container" data-module="cart-container">
    <div class="cart__header">
      <h2 class="cart__title h3">Shopping Bag</h2>
    </div>
    <div class='cart-container__wrapper-container'>
      <div class="cart-container__wrapper">
        <div class="pop-out-cart__list">
          {% for item in cart.items %}
            {% assign item_image = item.image | img_url: 'master' %}

            {% for p in item.properties %}
              {% if p.first == 'Subscription Product Title' %}
                {%- assign subscription_title = p.last -%}
              {% endif %}

              {% if p.first == 'Subscription Amount' %}
                {%- assign subscription_amount = p.last -%}
              {% endif %}

              {% if p.first == 'Discount Amount' %}
                {%- assign discount_amount = p.last -%}
              {% endif %}
            {% endfor %}

            {% if subscription_amount %}
              {% assign subscription_in_cart = true %}
              {% assign subscription_line_price_total = subscription_amount | times: item.quantity %}
            {% else %}
              {% assign subscription_line_price_total = item.discounted_price | times: item.quantity %}
            {% endif %}

            {% assign subscription_total = subscription_total | plus: subscription_line_price_total %}

            <div class="pop-out-cart__item">
              <a class="pop-out-cart__item-image" href="{{ item.url | within: collections.all }}">
                {% render 'image', src: item_image, alt: item.title %}
              </a>
              <div class="pop-out-cart__item-details">
                <a href="{{ item.url | within: collections.all }}"
                  class="pop-out-cart__item-title h5">{%- if subscription_title -%}{{ subscription_title }}{%- else -%}{{ item.product.title }}{%- endif -%}</a>

                {% assign options = item.variant.options | join: ' / ' %}
                <p class="pop-out-cart__item-subtext b1">{{ options }}</p>

                {%- assign item_property_size = item.properties | size -%}
                {% if item_property_size > 0 %}
                  {% for p in item.properties %}
                    {% unless p.last == blank %}
                      <p class="pop-out-cart__item-subtext b3">
                        {{ p.first }}: {{ p.last }}
                      </p>
                    {% endunless %}
                  {% endfor %}
                {% endif %}

                <div class="pop-out-cart__item-controls">
                  {% render 'cart-item-control',
                    item: item,
                    class: 'pop-out-cart__item-quantity',
                    id_prefix: 'pop-out-cart-'
                  %}

                  <p class="pop-out-cart__line-price"><span class="sr-only">{{ 'cart.general.line_price' | t }}</span>{{ subscription_line_price_total | money }}</p>
                </div>
              </div>

              <a class="pop-out-cart__item-remove b2" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" aria-label="{{ 'cart.general.remove' | t }}">
                X
              </a>
            </div>

            {%- assign subscription_amount = false -%}
            {%- assign subscription_title = false -%}
            {%- assign discount_amount = false -%}

          {% endfor %}
          </div>    </div>
      {% render 'cart-sidebar', subscription_total: subscription_total, subscription_in_cart: subscription_in_cart %}
    </div>
  </form>
</section>
