{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}
{{ 'marquee-styles.css' | asset_url | stylesheet_tag }}

{% style %}
  #Announcement-bar-{{ section.id }} {
    --marqueeCharacterCount: {{ section.settings.announcement_bar_text | size }}ch;
    --marqueeSpeed: {{ section.settings.announcement_bar_speed | minus: 11 | times: -10 }}s;
  }
{% endstyle %}

{% assign page_specific = false %}
{% assign show_section = false %}

{% for block in section.blocks %}
  {%- case block.type -%}

    {%- when 'include_page' -%}
      {% assign page_specific = true %}
      {% if block.settings.page.url == request.path %}
        {% assign include_page = true %}
      {% endif %}
      {% assign include_pages = include_pages | join: ',' | append: block.settings.page | split: ',' %}

    {%- when 'exclude_page' -%}
      {% if block.settings.page.url == request.path %}
        {% assign exclude_page = true %}
      {% endif %}
      {% assign exclude_pages = exclude_pages | join: ',' | append: block.settings.page | split: ',' %}

    {%- when 'announcement' -%}
      {% capture announcements %}
        {{ announcements }}
        <input type="radio" name="slide-trigger-{{ section.id }}" value="Announcement {{ forloop.index }}" id="{{ forloop.index }}-{{ section.id }}" {% if forloop.index == 1 %}checked{% endif %} />
        <label for="{{ forloop.index | minus: 1 }}-{{ section.id }}">
          {% render 'svg', type: 'chevron-right' %}
        </label>
        <label for="{{ forloop.index }}-{{ section.id }}">
          {% render 'svg', type: 'chevron-right' %}
        </label>
        <label for="{{ forloop.index | plus: 1 }}-{{ section.id }}">
          {% render 'svg', type: 'chevron-right' %}
        </label>
        {% if section.settings.announcement_bar_marquee %}
          <div class="marquee-styles__inner announcement-bar__slide">
            <p class="marquee-styles__text {{ section.settings.announcement_bar_text_size }}">
              {{ block.settings.announcement_bar_text }}
            </p>
          </div>
        {% else %}
          <div class="announcement-bar__text announcement-bar__slide {{ section.settings.announcement_bar_text_size }}">
            {{ block.settings.announcement_bar_text }}
          </div>
        {% endif %}
      {% endcapture %}

  {%- endcase -%}
{% endfor %}

{% if page_specific == true and include_page == true %}
    {% assign show_section = true %}
{% endif %}

{% if page_specific == false and exclude_page != true %}
    {% assign show_section = true %}
{% endif %}

{% if announcements != blank and show_section == true %}
    <div
      id="Announcement-bar-{{ section.id }}"
      class="announcement-bar __theme-{{ section.settings.announcement_bar_theme }} {% if section.settings.announcement_bar_marquee %}marquee-styles __style-fullwidth{% endif %}"
    >
      {{ announcements }}
    </div>
{% endif %}

{% schema %}
  {
    "name": "Announcement Bar",
    "tag": "section",
    "class": "commence-section announcement-bar__wrapper",
    "blocks": [
      {
        "type": "include_page",
        "name": "Include Page",
        "settings": [
          {
            "type": "paragraph",
            "content": "Typing and selecting '/' is the equivalent to selecting the homepage."
          },
          {
            "type": "url",
            "id": "page",
            "label": "Page",
            "info": "If you don't specify any pages to include, this announcement bar will show on all pages minus the pages you've excluded. Once you've specified pages to include it on, it won't show on any pages besides those pages, minus the pages you've excluded."
          }
        ]
      },
      {
        "type": "exclude_page",
        "name": "Exclude Page",
        "settings": [
          {
            "type": "paragraph",
            "content": "Typing and selecting '/' is the equivalent to selecting the homepage."
          },
          {
            "type": "url",
            "id": "page",
            "label": "Page",
            "info": "If you don't specify any pages to include, this announcement bar will show on all pages minus the pages you've excluded. Once you've specified pages to include it on, it won't show on any pages besides those pages, minus the pages you've excluded."
          }
        ]
      },
      {
        "type": "announcement",
        "name": "Announcement",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "announcement_bar_text",
            "default": "Welcome to our store",
            "label": "Text"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "select",
        "id": "announcement_bar_text_size",
        "options": [
          {
            "value": "p-sm",
            "label": "Small Text"
          },
          {
            "value": "p",
            "label": "Basic Text"
          },
          {
            "value": "p-lg",
            "label": "Large Text"
          }
        ],
        "default": "p-sm",
        "label": "Text Size"
      },
      {
        "type": "select",
        "id": "announcement_bar_theme",
        "options": [
          {
            "value": "primary",
            "label": "Primary Theme"
          },
          {
            "value": "2",
            "label": "2nd Theme"
          },
          {
            "value": "3",
            "label": "3rd Theme"
          },
          {
            "value": "4",
            "label": "4th Theme"
          },
          {
            "value": "5",
            "label": "5th Theme"
          }
        ],
        "default": "2",
        "label": "Theme"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_marquee",
        "label": "Turn on Scrolling Marquee",
        "default": false
      },
      {
        "type": "range",
        "id": "announcement_bar_speed",
        "min": 1,
        "max": 10,
        "step": 1,
        "unit": "x",
        "label": "Speed",
        "default": 5,
        "info": "Applies only when the scrolling marquee is turned on"
      }
    ],
    "presets": [
      {
        "name": "Announcement Bar",
        "blocks": [
          {
            "type": "announcement"
          }
        ]
      }
    ]
  }
{% endschema %}
