{% liquid
  assign section_theme = section.settings.theme
  assign top_spacing = section.settings.top_spacing
  assign bottom_spacing = section.settings.bottom_spacing
  assign alignment = section.settings.alignment
%}

{% style %}
  #Rich-text-{{ section.id }} {
    --topSpacingRatio: {{ top_spacing }} / 100;
    --bottomSpacingRatio: {{ bottom_spacing }} / 100;
  }
{% endstyle %}

{{ 'rich-text.css' | asset_url | stylesheet_tag }}

<div id="Rich-text-{{ section.id }}" class="rich-text __theme-{{ section_theme }} __align-{{ alignment }}">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
        {% comment %} Type Heading {% endcomment %}
      {%- when 'heading' -%}
        {% render 'heading',
          class: 'rich-text',
          heading: block.settings.heading,
          heading_size: block.settings.heading_size
        %}

        {% comment %} Type Text {% endcomment %}
      {%- when 'text' -%}
        <div class="{{ block.settings.text_size }}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>

        {% comment %} Type Button {% endcomment %}
      {%- when 'button' -%}
        {% render 'button',
          class: 'rich-text',
          button_label: block.settings.button_label,
          button_link: block.settings.button_link,
          button_color: block.settings.button_color
        %}

      {% comment %} Type custom liquid {% endcomment %}
        {%- when 'custom_liquid' -%}
          {{ block.settings.custom_liquid }}

      {% comment %} Type app {% endcomment %}
        {%- when '@app' -%}
          <div class="app">
            {% render block %}
          </div>
    {%- endcase -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Rich Text",
  "tag": "section",
  "class": "commence-section",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "radio",
      "id": "alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Lorem ipsum",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h1",
              "label": "X-Large"
            },
            {
              "value": "h2",
              "label": "Large"
            },
            {
              "value": "h4",
              "label": "Medium"
            },
            {
              "value": "h5",
              "label": "Small"
            }
          ],
          "default": "h1",
          "label": "Heading Size"
        }
      ]
    },
    {
      "type": "text",
      "name": "text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>",
          "label": "Content"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "p-sm",
              "label": "Small Text"
            },
            {
              "value": "p",
              "label": "Basic Text"
            },
            {
              "value": "p-lg",
              "label": "Large Text"
            }
          ],
          "default": "p",
          "label": "Text Size"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Laboris Nisi",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "Button Color",
          "default": "default",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "primary",
              "label": "Primary Theme"
            },
            {
              "value": "2",
              "label": "2nd Theme"
            },
            {
              "value": "3",
              "label": "3rd Theme"
            },
            {
              "value": "4",
              "label": "4th Theme"
            },
            {
              "value": "5",
              "label": "5th Theme"
            }
          ]
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich Text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
