{%- assign id = id | default: false -%}
{%- assign label = label | default: false -%}
{%- assign placeholder = placeholder | default: blank -%}
{%- assign name = name | default: false -%}
{%- assign label_top = label_top | default: false -%}
{% capture class %}form-field form-field--email{% if class %} {{- class -}}{% endif %}{% if label_top %} form-field--label-top{% endif %}{% endcapture %}

{% if name and id %}
<div class="{{- class -}}" data-module="input-email">
  <div class="form-field__input-wrapper">
    <input class="form-field__input" type="email" id="{{- id -}}" name="{{- name -}}" placeholder="{{- placeholder -}}">
    {% if label %}
      <label class="form-field__label{% unless label_top %} form-field__label--as-placeholder{% endunless %}" for="{{- id -}}">
        <span class="{% if label_top   %}h8{% else %}b1{% endif %}">{{- label -}}</span>
      </label>
    {% endif %}
  </div>
</div>
{% endif %}
