{% assign class = class | default: false -%}
{% assign title = title | default: false -%}
{% assign image_url = image_url | default: false -%}
{% assign url = url | default: false -%}
{% assign description = description | default: false -%}
{%- assign price = price | default: false -%}
{% assign sub_description = sub_description | default: false -%}
{% assign product_id = product_id | default: false %}
{%- assign cta_text = cta_text | default: false -%}
{%- assign cta_class = cta_class | default: false -%}
{%- assign palette = palette | default: false -%}
{%- capture class -%}product-hero-card{% if class %} {{ class }}{% endif %}{% if palette %} product-hero-card--palette-{{ palette }}{% endif %}{% endcapture -%}

<section class="{{ class }}" data-module="product-hero-card">
  <div class="product-hero-card__wrapper">
    <div class="product-hero-card__inner">
      <a href="{{ url }}" class="product-hero-card__image-wrapper">
        {%- render 'image', src: image_url, class: 'product-hero-card__image no-hover' -%}
      </a>
      <div class="product-hero-card__content js-content">
        <div class="product-hero-card__content-inner">
          {% if title %}
          <a href="{{ url }}" class="product-hero-card__item-title h2">{{- title -}}</a>
          {% endif %}
          {%- if price -%}
            <p class="product-hero-card__item-price b2">{{- price -}}</p>
          {%- endif -%}
          {%- if product_id and url -%}
            <div class="product-hero-card__item-reviews p1">
              <div data-bv-show="inline_rating" data-bv-product-id="{{ product_id }}" data-bv-redirect-url="{{ url }}" data-bv-seo="false"></div>
            </div>
          {%- endif -%}
          {%- if sub_description -%}
            <p class="product-hero-card__item-sub-description">{{- sub_description -}}</p>
          {%- endif -%}
          {%- if description and cta_text -%}
            <div class="product-hero-card__item-description js-description">
              {%- if description -%}
                <p class="p1 js-text">{{- description -}}</p>
              {%- endif -%}
              {%- if cta_text and url -%}
                <div class="product-hero-card__item-cta ">
                  {%- capture cta_class -%}product-hero-card__item-cta-button{% if cta_class %} {{ cta_class }}{% endif %}{% if palette %} button--palette-{{ palette }}{% endif %}{% endcapture -%}
                  {%- render 'button',
                    tag: 'a',
                    class: cta_class,
                    button_value: cta_text,
                    button_url: url
                  -%}
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>
