{% comment %}
This is a customized copy of the original `ordergroove_offer` template.

DWC does not display offers in the cart, so the cart-specific functionality
has been removed.
{% endcomment %}

{%- comment -%}
Set defaults if not passed in
{%- endcomment -%}
{% assign feature_flag = feature_flag | default: 'pre-2023-03--no-prepaid' %}
{% assign location = location | default: 'pdp' %}
{% assign os_version = os_version | default: '1' %}

{% comment %}
Create an array of product ids to pass to the Vue.js module.
{% endcomment }
{% assign og_product_ids = cart.items | map: "variant_id" | join: "," %}

{%- comment -%}
The `og-offer` module requires a variant to be passed in.
{%- endcomment -%}

{% if variant %}
  {% assign variants = variant.product.variants %}

  <div
    is="og-offer"
    inline-template product-ids-string="{{og_product_ids}}"
    :selected-variant="selectedVariant"
    feature-flag="{{feature_flag}}"
  >
    {%- comment -%}
    Ordergroove Selling Plan Map
    ============================
    Created by Ordergroove for data lookup. Updated and expanded by Commence
    to support additional data needs for the Vue.js module.

    Create a list of `<span>` tags that contain the selling plan map. A few
    attributes have been added to aid the Vue `og-offer` module in tracking
    and looking up values as needed.

    * `ref` = a Vue.js ref used to lookup the selling plan by the unique key
    * `data-*` = values used internally by the Vue module.
    {%- endcomment -%}
    <div data-module="og-offer">
      {%- for variant in variants -%}
        {% for selling_plan_allocation in variant.selling_plan_allocations %}
          {% assign frequency_label = selling_plan_allocation.selling_plan.options[0].value %}
          {% assign frequency = selling_plan_allocation.selling_plan.options[0].value | split: " " %}
          {% assign selling_plan_id = selling_plan_allocation.selling_plan.id %}

          {% if frequency.size > 1 %}
            {% assign frequency_unit = frequency[1] | replace: "(s)", "" | replace: "s", "" %}
            {% assign frequency_interval = frequency[0] %}
            {% assign frequency_period = frequency[1] | replace: "(s)", "" | replace: "s", "" | upcase | replace: "DAY", "1" | replace: "WEEK", "2" | replace: "MONTH", "3" %}
            {% assign frequency = frequency[0] |append: "_" | append: frequency_period %}
          {% elsif frequency.size == 1 %}
            {% assign frequency_label = "1 " | append: frequency_label %}
            {% assign frequency_unit = frequency[0] %}
            {% assign frequency_interval = "1" %}
            {% assign frequency_period = frequency[0] | upcase | replace: "DAY", "1" | replace: "WEEK", "2" | replace: "MONTH", "3" %}
            {% assign frequency = "1" |append: "_" | append: frequency_period %}
          {% endif %}

          {% if settings.ordergroove_feature_flag == '2023-03-prepaid-selling-plans' %}
            {% assign span_id = variant.id | append: "-" | append: selling_plan_id %}
          {% else %}
            {% assign span_id = variant.id | append: "-" | append: frequency %}
          {% endif %}

          {% assign selling_plan_ref_key = 'selling-plan-map-' | append: span_id %}

            <span
              ref="{{selling_plan_ref_key}}"
              data-debug-ref-key="{{selling_plan_ref_key}}"
              id="og-selling-plan-map-{{span_id}}"
              selling-plan-id="{{selling_plan_id}}"
              data-frequency="{{frequency}}"
              data-frequency-interval="{{frequency_interval}}"
              data-frequency-unit="{{frequency_unit}}"
              data-frequency-label="{{frequency_label}}"
              data-compare-at-price="{{selling_plan_allocation.compare_at_price}}"
              data-price="{{selling_plan_allocation.price}}"
              data-selling-plan-id="{{selling_plan_id}}"
              data-variant-id="{{variant.id}}"
              style="display:none !important;"
            ></span>

            {%- comment -%}
            Selling Plan Price Map
            ======================
            Created by Commence to support button price display.

            Create refs used to lookup prices for buttons.
            {%- endcomment -%}
            {% assign price_map_ref_key = "selling-plan-price-map-" | append: variant.id | append: "-" | append: frequency %}
            <span
              ref="{{price_map_ref_key}}"
              data-debug-ref-key="{{price_map_ref_key}}"
              id="{{price_map_ref_key}}"
              data-price="{{selling_plan_allocation.price}}"
              style="display:none !important;"
            ></span>
        {% endfor %}
      {%- endfor -%}

      <og-offer
        ref="og-offer"
        product="{{variant.id}}"
        location="{{location}}"
        os-version="{{os_version}}"
      ></og-offer>
    </div>
  </div>
{% else %}
  <!-- og_offer snippet requires a product variant -->
{% endif %}
