{%- assign id = id | default: false -%}
{%- assign label = label | default: false -%}
{%- assign placeholder = placeholder | default: blank -%}
{%- assign name = name | default: false -%}
{%- assign label_top = label_top | default: false -%}
{%- assign is_required = is_required | default: false -%}
{%- comment -%}The `is_check_confirmation` and `confirmation_ref` variables should be passed on the confirmation password element only{%- endcomment -%}
{%- assign is_check_confirmation = is_check_confirmation | default: false -%}
{%- assign confirmation_ref = confirmation_ref | default: false -%}
{% capture class %}form-field form-field--password{% if class %} {{- class -}}{% endif %}{% if label_top %} form-field--label-top{% endif %}{% endcapture %}

<div class="{{- class -}}" data-module="input-password">
  <div class="form-field__input-wrapper">
    <input class="form-field__input" type="password" id="{{- id -}}" name="{{- name -}}" placeholder="{{- placeholder -}}"{% if is_required %} required{% endif %}{% if is_check_confirmation and confirmation_ref %} data-confirmation-ref="{{- confirmation_ref -}}"{% endif %}>
    {% if label %}
      <label class="form-field__label{% unless label_top %} form-field__label--as-placeholder{% endunless %}" for="{{- id -}}">
        <span class="{% if label_top %}h8{% else %}b1{% endif %}">{{- label -}}</span>
      </label>
    {% endif %}
    <span class="form-field__error"></span>
  </div>
</div>
