{% assign class = class | default:false %}
{% assign post = post | default: false %}
{% assign title = title | default: false %}
{% assign url = url | default: false %}
{% assign image_src = image_src | default: false %}
{% assign image_alt = image_alt | default: false %}
{% assign author = author | default: false %}
{% assign published_date = published_date | default: false %}
{% capture class %}post-card{% if class %} {{- class -}}{% endif %}{% endcapture %}
{% if title and url %}
  <div class="{{ class }}" data-module="post-card">
    <div class="post-card__container">
      <a class="post-card__image-wrapper" href="{{ url }}">
        {% render 'image', class: 'post-card__image', src: image_src, alt: image_alt %}
        <div class="b2 post-card__viewed">Already<br>Viewed</div>
      </a>
      <div class="post-card__content">
        <h4 class="h5 post-card__title">
          <a class="post-card__title-link" href="{{ url }}">{{ title }}</a>
        </h4>
        <p class="post-card__description">
          {% if author %}
            <span>By {{ author }}</span> &mdash; 
          {% endif %}
          <span>{{ published_date }}</span>
        </p>
      </div>
    </div>
  </div>
{% endif %}
