{% assign class = class | default:false %}
{% assign post = post | defailt: false %}
{% capture class %}post-card{% if class %} {{- class -}}{% endif %}{% endcapture %}
{% if post %}
  <section class="{{ class }}" data-module="post-card">
    <div class="post-card__container">
      <a class="post-card__image-wrapper" href="{{ post.url }}">
        {% if post.image %}
          {% assign src = post.image.src | img_url: 'master' %}
          {% render 'image', class: 'post-card__image', src: src, alt: post.image.alt %}
        {% endif %}
        <div class="b2 post-card__viewed">Already<br>Viewed</div>
      </a>
      <div class="post-card__content">
        <h4 class="h5 post-card__title">
          <a class="post-card__title-link" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
        <p class="post-card__description">
          {% if post.author %}
            <span>By {{ post.author }}</span> &mdash; 
          {% endif %}
          <span>{{ post.published_at | date: '%b %d, %Y' }}</span>
        </p>
      </div>
    </div>
  </section>
{% endif %}
