{%- assign id = id | default: false -%}
{%- assign label = label | default: false -%}
{%- assign name = name | default: false -%}
{% capture class %}form-field form-field--radio{% if class %} {{- class -}}{% endif %}{% endcapture %}
{% assign custom_attrs = custom_attrs | default: false %}

{% if name and label and id %}
<div class="{{- class -}}">
  <input class="form-field__input{% if value %} field-has-value{% endif %}" 
    type="radio" 
    id="{{- id -}}" 
    name="{{- name -}}" 
    placeholder="{{- placeholder -}}"
    {% if value %}value="{{- value -}}"{% endif %}
    {% if custom_attrs %}{{- custom_attrs -}}{% endif %}>
  <!-- <label class="form-field__label button" for="{{- id -}}">
    <span class="{% if label_top %}h8{% elsif label_font %}{{ label_font }}{% else %}b1{% endif %}">{{- label -}}</span>
  </label> -->
  {% capture custom_attr %}for="{{ id }}"{% endcapture %}
  {% render 'button', tag: 'label', class: 'input-radio__button', custom_attrs: custom_attr, button_value: label %}
</div>
{% endif %}
