<!DOCTYPE html>
<html{% unless template contains 'password' or template contains 'access-denied' or cart.attributes.age_gate == '1' %} class="js-age-gate"{% endunless %} data-scroll="0">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="facebook-domain-verification" content="746k24eeouu4eet639meku4onwsree" />
  <link rel="canonical" href="{{- canonical_url -}}">

  {%- include 'alternate-urls' -%}

  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="{{'apple-touch-icon.png' | asset_url -}}">
  <link rel="icon" type="image/png" href="{{'favicon-32x32.png' | asset_url -}}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{'favicon-16x16.png' | asset_url -}}" sizes="16x16">
 {% comment %}  <link rel="manifest" href="{{'manifest.json' | asset_url -}}"> {% endcomment %}
  <link rel="mask-icon" href="{{'safari-pinned-tab.svg' | asset_url -}}" color="#5bbad5">
  {% comment %} <meta name="theme-color" content="#ffffff"> {% endcomment %}
  <link rel="icon" type="image/png" href="{{ 'favicon.ico' | asset_url }}" type="image/png">
  <link rel="stylesheet" href="https://use.typekit.net/dge3sjv.css">

  {%- include 'social-meta' -%}

  {{ content_for_header }}

  {%- render 'fonts' -%}
  {%- if settings.is_dev_mode -%}
    {{- '/dev/main.js' | script_tag -}}
  {%- else -%}
    {{- 'main.min.css' | asset_url | stylesheet_tag -}}
  {%- endif -%}

  <title> {{- page_title | split: '//' | first -}}{%- if current_tags -%}{%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{- 'general.meta.tags' | t: tags: meta_tags -}}{%- endif -%}{%- if current_page != 1 -%} &ndash; {{- 'general.meta.page' | t: page: current_page -}}{%- endif -%}{%- unless page_title contains shop.name -%} - {{- shop.name -}}{%- endunless -%}</title>
</head>
<body id="{{- page_title | handle -}}" class="{%- if customer -%}customer-logged-in {%- endif -%}p template-{{- template | replace: '.', ' ' | handle -}}" >
  {%- render 'navigation', menu_left: linklists[settings.menu_left], menu_right: linklists[settings.menu_right] -%}
  
  <div id="account-parent">
    <main id="page" class="relative z0 bg--shadow" role="main" >
      <div class="account-wrapper container">
          {%- capture account_title -%}Hey, {{ customer.first_name }}{%- endcapture -%}
          {%- assign account_title = account_title | upcase -%}
          {%- render 'section-title', title: account_title, class: 'section-title--account'  -%}
          <div class="account-wrapper__left">

          {%- for tag in customer.tags -%}
              {%- if tag == 'SubscriptionActive' or tag == 'SubscriptionInactive'-%}
                  {% assign is_upscribe_customer = true %}
              {%- endif -%}
          {%- endfor -%}

            {%- render 'account-sidebar-menu' is_upscribe_customer: is_upscribe_customer -%}
            {%- render 'customer-info' -%}
          </div>
          <div class="account-wrapper__right shopify-account-portal-wrapper">
            {{ content_for_layout }}
          </div>
        </div>
    </main>
    {% render 'upscribe-cart-logic' %}

    {%- unless settings.is_dev_mode -%}
      {{- 'main.js' | asset_url | script_tag -}}
    {%- endunless -%}
  </div>

<div id="upscribe-portal-wrapper" style="display: none;">
  {%- render 'upscribe-wrapper' -%}
</div>

{%- render 'footer' -%}

</body>
</html>

