<!DOCTYPE html>
<html{% unless template contains 'password' or template contains 'access-denied' or cart.attributes.age_gate == '1' %} class="js-age-gate"{% endunless %} data-scroll="0">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="facebook-domain-verification" content="746k24eeouu4eet639meku4onwsree" />
  <link rel="canonical" href="{{- canonical_url -}}">

  {%- include 'alternate-urls' -%}

  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="{{'apple-touch-icon.png' | asset_url -}}">
  <link rel="icon" type="image/png" href="{{'favicon-32x32.png' | asset_url -}}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{'favicon-16x16.png' | asset_url -}}" sizes="16x16">
 {% comment %}  <link rel="manifest" href="{{'manifest.json' | asset_url -}}"> {% endcomment %}
  <link rel="mask-icon" href="{{'safari-pinned-tab.svg' | asset_url -}}" color="#5bbad5">
  {% comment %} <meta name="theme-color" content="#ffffff"> {% endcomment %}
  <link rel="icon" type="image/png" href="{{ 'favicon.ico' | asset_url }}" type="image/png">
  <link rel="stylesheet" href="https://use.typekit.net/dge3sjv.css">

  {%- include 'social-meta' -%}

  {{ content_for_header }}

  {%- render 'fonts' -%}
  {%- if settings.is_dev_mode -%}
    {{- '/dev/main.js' | script_tag -}}
  {%- else -%}
    {{- 'main.min.css' | asset_url | stylesheet_tag -}}
  {%- endif -%}
  <!-- Yotpo JavaScript -->
  <script type="text/javascript">
    (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/EmlyH22Rv4gaBBcp1acP56ctxXacWhYtche9agiF/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
  </script>
  <!-- End of Yotpo JavaScript -->
  <script>
    window.addEventListener('load', function () {
      var script = document.createElement('script');
      script.src = "//assets.findify.io/deathwishcoffee.myshopify.com.min.js";
      document.head.appendChild(script);
    });
  </script>
  <title> {{- page_title | split: '//' | first -}}{%- if current_tags -%}{%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{- 'general.meta.tags' | t: tags: meta_tags -}}{%- endif -%}{%- if current_page != 1 -%} &ndash; {{- 'general.meta.page' | t: page: current_page -}}{%- endif -%}{%- unless page_title contains shop.name -%} - {{- shop.name -}}{%- endunless -%}</title>
</head>
<body id="{{- page_title | handle -}}" class="{%- if customer -%}customer-logged-in {%- endif -%}p template-{{- template | replace: '.', ' ' | handle -}}" >
{%- render 'navigation', menu_left: linklists[settings.menu_left], menu_right: linklists[settings.menu_right] -%}
  <main id="page" class="relative z0" role="main">
    {{ content_for_layout }}
  </main>
  {%- render 'footer' -%}

  {% render 'upscribe-cart-logic' %}

  {%- unless settings.is_dev_mode -%}
    {{- 'main.js' | asset_url | script_tag -}}
  {%- endunless -%}
  {% include 'findify-tagging' %}
</body>
</html>
